body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.successful-message {
    color: rgb(35, 184, 85);
    font-size: 14px;
    margin-top: 10px;
}