* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    height: 100vh;
}

header {
    background-color: #999494;
    width: 900px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

header .img {
    width: 6%;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

header .img img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 20px;
    margin-right: 50px;
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: ease .5s;
}

.links a:hover {
    color: #F2CB05;
}

.links a:active {
    transform: scale(.9);
    transition: all 100ms ease;
}

section {
    background-color: #232323;
    width: 852px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
    margin-top: 50px;
    border-radius: 20px;
}

section .container {
    background-color: #1E1E1E;
    width: 650px;
    border-radius: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}