* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mat {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    font-size: xx-large;
    font-weight: bold;
}