<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base HTML</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="shortcut icon" href="img/js-icon.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="img">
            <img src="img/js-icon.png" alt="icone-javascript">
        </div>
        <div class="links">
            <a href="#" target="_blank">Exercícios</a>
            <a href="https://github.com/luvsscorpius" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/andersonvitor1801/" target="_blank">Linkedin</a>
        </div>
    </header>

    <section>
        <div class="container" id="container">
            <div class="container-items"></div>
            <div class="container-answer"></div>
        </div>
    </section>
</body>

</html>